 <ion-header>
    <ion-toolbar>
      <ion-buttons defaultHref="animal-list" slot="start" text="atras">
          <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>
      PET SAVER MADRID <ion-icon name="paw"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button class="chat-list" color="warning" routerLink="/chat-list">Chat</ion-button>
<ion-card>
        
        <ion-card-content>
          <ion-list>

            <ion-item>
              <ion-label>MASCOTAS</ion-label>
              <ion-select multiple="true">
                <ion-select-option value="PERROS"> PERROS</ion-select-option>
                <ion-select-option value="GATOS"> GATOS</ion-select-option>
                <ion-select-option value="OTROS"> OTROS</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>


<!--
  <ion-content>
    

  

<ion-list>
      <ion-item>
          <ion-label>Pets</ion-label>
          <ion-select multiple="true">
            <ion-select-option value="bird" selected>Bird</ion-select-option>
            <ion-select-option value="cat">Cat</ion-select-option>
            <ion-select-option value="dog" selected>Dog</ion-select-option>
            <ion-select-option value="honeybadger">Honey Badger</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    
  </ion-content>
-->

<ion-content>
 

    <ion-app>
        <ion-header translucent>
        </ion-header>,
        <ion-content fullscreen>
          <ion-card>
            <img src="../../assets/animal1.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Raza del animal: .......</ion-card-subtitle>
              <ion-card-title>PEPE</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
            </ion-card-content>
          </ion-card>
 
          <ion-card>
              <img src="../../assets/animal2.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Raza del animal: .......</ion-card-subtitle>
                <ion-card-title>PEPE</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
              </ion-card-content>
            </ion-card>


            <ion-card>
                <img src="../../assets/animal3.jpg" />
                <ion-card-header>
                  <ion-card-subtitle>Raza del animal: .......</ion-card-subtitle>
                  <ion-card-title>PEPE</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                </ion-card-content>
              </ion-card>


              <ion-card>
                  <img src="../../assets/animal4.jpg" />
                  <ion-card-header>
                    <ion-card-subtitle>Raza del animal: .......</ion-card-subtitle>
                    <ion-card-title>PEPE</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                  </ion-card-content>
                </ion-card>



                <ion-card>
                    <img src="../../assets/animal5.jpg" />
                    <ion-card-header>
                      <ion-card-subtitle>Raza del animal: .......</ion-card-subtitle>
                      <ion-card-title>PEPE</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                    </ion-card-content>
                  </ion-card>




                  <ion-card>
                      <img src="../../assets/animal7.jpg" />
                      <ion-card-header>
                        <ion-card-subtitle>Raza del animal: .......</ion-card-subtitle>
                        <ion-card-title>PEPE</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                      </ion-card-content>
                    </ion-card>

        </ion-content>
 
      </ion-app>
