 <ion-header>
    <ion-toolbar>
        <ion-buttons defaultHref="home" slot="start" text="atras">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>
      PET SAVER MADRID <ion-icon name="paw"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>


  
  <ion-content>
     
      <ion-app>
          <ion-header translucent>
          </ion-header>,
          <ion-content fullscreen>

            
            <ion-card>
              <img src="https://ep01.epimg.net/elpais/imagenes/2018/06/25/buenavida/1529929537_419627_1529933291_noticia_normal.jpg" />
              <ion-card-header>
                <ion-card-subtitle>PUDDLE</ion-card-subtitle>
                <ion-card-title>ZICO</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
              </ion-card-content>
            </ion-card>
       
            <ion-card>
                <img src="https://www.nationalgeographic.com.es/medio/2018/10/19/04-australian-shepherd_5ca57e9a_800x800.jpg" />
                <ion-card-header>
                  <ion-card-subtitle>Destination</ion-card-subtitle>
                  <ion-card-title>Madison, WI</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                </ion-card-content>
              </ion-card>
         
   
            
              <ion-card>
                  <img src="https://images.ctfassets.net/n44u7kn3xh7u/2RhW9rOSUEowcQMQG2Ci0A/269347172791221ad84b2d94d594ff32/gatos-cagarp.jpg?" />
                  <ion-card-header>
                    <ion-card-subtitle>Destination</ion-card-subtitle>
                    <ion-card-title>Madison, WI</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                  </ion-card-content>
                </ion-card>
             
   
          </ion-content>
   
        </ion-app>
 
   </ion-content>
  