<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons defaultHref="animal-list" slot="start" text="atras">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      PET SAVER MADRID <ion-icon name="paw"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--
  <ion-content>
    

  

<ion-list>
      <ion-item>
          <ion-label>Pets</ion-label>
          <ion-select multiple="true">
            <ion-select-option value="bird" selected>Bird</ion-select-option>
            <ion-select-option value="cat">Cat</ion-select-option>
            <ion-select-option value="dog" selected>Dog</ion-select-option>
            <ion-select-option value="honeybadger">Honey Badger</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    
  </ion-content>
-->

<ion-content>
  <ion-app>
    <ion-header translucent>
    </ion-header>,
    <ion-content fullscreen padding>
      <ion-label>Filtrar</ion-label>
      <ion-select [(ngModel)]="tipoAnimal" (ngModelChange)="cambiaTipo()">
        <ion-select-option value="TODOS"> Todos</ion-select-option>
        <ion-select-option value="PERROS"> Perros</ion-select-option>
        <ion-select-option value="GATOS"> Gatos</ion-select-option>
        <ion-select-option value="OTROS"> Otros</ion-select-option>
      </ion-select>

      <ion-card *ngFor="let animal of animalesFiltrados" button="true" (click)="irAChat(animal)">
        <img [src]="animal.imagen" />
        <ion-card-header>
          <ion-card-subtitle>{{animal.tipo}}</ion-card-subtitle>
          <ion-card-title>{{ animal.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Dueño: {{ animal?.dueno?.usuario }}<br><br>
          <h1>Descripcion:</h1><br>
          {{ animal.descripcion }}
        </ion-card-content>
      </ion-card>

    </ion-content>

  </ion-app>

</ion-content>


<ion-footer>


  <ion-grid>
    <ion-row>
      <ion-col size="10">

        <ion-icon color="primary" class="icon" name="add-circle" button="true" routerLink="/animal-form"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon color="primary" class="icono" name="send" button="true" routerLink="/chat-list"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>