<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons defaultHref="home" slot="start" text="atras">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mensajes <ion-icon name="paw"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <!-- <ion-header translucent>
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
    </ion-header> -->
    <ion-content fullscreen>
      <ion-list>
        <ion-list-header>
          Conversaciones
        </ion-list-header>

        <ion-item *ngFor="let conversacion of conversaciones" (click)="irAChat(conversacion)">
          <ion-avatar slot="start">
            <img [src]="conversacion?.imagenAnimal">
          </ion-avatar>
          <ion-label>
            <h2>{{ conversacion?.nombreAnimal }}</h2>
            <p>{{ conversacion?.mensajes[conversacion?.mensajes?.length - 1]?.texto }}</p>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-app>
</ion-content>
