<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons defaultHref="home" slot="start" text="atras">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mensajes<ion-icon name="paw"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
      <ion-list>
        <ion-list-header>
          Conversaciones
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/701/701997.svg">
          </ion-avatar>
          <ion-label>
            <h2>Rafa</h2>
            <p>Me pego un tiro en los cojones...</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/701/701996.svg">
          </ion-avatar>
          <ion-label>
            <h2>Javier</h2>
            <p>Vienna se cagó en mi cama y la quiero regalar...</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/701/701991.svg">
          </ion-avatar>
          <ion-label>
            <h2>Ronald</h2>
            <p>Me mudaré a otro país y lamentablemente no puedo llevarlo conmigo...</p>
          </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/702/702008.svg">
          </ion-avatar>
          <ion-label>
            <h2>Ariel</h2>
            <p>Es muy cariñoso...</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-app>
</ion-content>
