<ion-header>
  <ion-toolbar>
      <ion-buttons defaultHref="home" slot="start" text="atras">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>INICIAR SESION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

        <form>
          <ion-list>
            <ion-item>

              <ion-label>CORREO ELECTRONICO:</ion-label>
              <ion-input type="text" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
              
              <ion-label>CONTRASEÑA:</ion-label>
              <ion-input type="password" placeholder="Password"></ion-input>
            </ion-item>
          </ion-list>
          <div padding>
              <ion-button color="primary">INGRESAR</ion-button>
          </div>
        </form>
    
</ion-content>
