<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons defaultHref="home" slot="start" text="atras">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>INICIAR SESION <ion-icon name="paw"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

        <form>
          <ion-list>
            <ion-item>

              <ion-label position="stacked">Usuario:</ion-label>
              <ion-input name="text" [(ngModel)] = "user.usuario" type="text" placeholder="Correo"></ion-input>
            </ion-item>
            <ion-item>
              
              <ion-label position="stacked">Contrasena:</ion-label>
              <ion-input name="password" [(ngModel)] = "user.contrasena" type="password" placeholder="Contraseña"></ion-input>
            </ion-item>
          </ion-list>
          <p padding *ngIf="errorMsg" class="error-message">{{ errorMsg }}</p>
          <a padding *ngIf="errorMsg" button="true" routerLink="/registro"><u>Registrarse</u></a>

          <div padding>
              <ion-button class="ion-no-margin" expand="block" color="primary" (click)="validateLogin()">Ingresar</ion-button>
          </div>
        </form>
    
</ion-content>

<ion-footer>
    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
      <ion-fab-button color="primary">
        <ion-icon class ="icon" name="arrow-dropright"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button color="light">
          <ion-icon class ="icon" name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon class ="icon" name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon class ="icon" name="logo-vimeo"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon class ="icon" name="logo-google"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    </ion-footer>
