<ion-header>
  <ion-toolbar>
    <ion-title>ESCOGE TU MASCOTA<ion-icon name="paw"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-app>
    <ion-content fullscreen>
      <ion-card>
        
        <ion-card-content>
          <ion-list>

            <ion-item>
              <ion-label>MASCOTAS</ion-label>
              <ion-select>
                <ion-select-option (ionChange)='searchAnimal($event)' value="PERROS">PERROS</ion-select-option>
                <ion-select-option [(ngModule)] = 'animalType' value="GATOS">GATOS</ion-select-option>
                <ion-select-option [(ngModule)] = 'animalType' value="OTROS">OTROS</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>

  <button (click)='searchAnimal()'>psokaf</button>
</ion-content>