<ion-header>
  <ion-toolbar>
    <img src="https://cdn.dribbble.com/users/24078/screenshots/2552867/neg_dog.jpg"/>
  </ion-toolbar>
</ion-header>

<ion-content>

    
 
    
    <ion-button class="registro" color="primary" routerLink="/registro/">Registro</ion-button><br>
    <ion-button class="iniciarsesion" color="primary" routerLink="/login/">Iniciar sesion</ion-button>
    <br><br>


</ion-content>

<ion-footer>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon class ="icon" name="arrow-dropright"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="light">
        <ion-icon class ="icon" name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon class ="icon" name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon class ="icon" name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon class ="icon" name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  </ion-footer>
