<ion-header>
  <ion-toolbar>
    <img src="../../assets/saver.png"/>
  </ion-toolbar>
</ion-header>

<ion-content>

    
 
    
    <ion-button class="registro" color="primary" routerLink="/registro/">REGISTRO</ion-button><br>
    <ion-button class="iniciarsesion" color="primary" routerLink="/login/">INICIAR SESION</ion-button>

    <br><br>


</ion-content>

<ion-footer>
    <ion-toolbar>
      <h1>Siguenos en:</h1>
      <h2> <ion-icon name="logo-twitter"></ion-icon>..... petsavermad </h2><br>
       <h2>  <ion-icon name="logo-instagram"></ion-icon>..... petsavermad </h2>
    </ion-toolbar>
  </ion-footer>
