
.registro {

  
    margin-top: 40px;
    border-radius: 50px;
    border: 2px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 370px;
    height: 30px;
font-weight:bold;

}

.iniciarsesion {

    margin-top: 10px;
    border-radius: 50px;
    border: 2px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 370px;
    height: 30px;
    font-weight: bold;
    
    
}

img{
    width: 100%;
}