
.registro {

    text-align: center;
    margin-top: 40px;
    border-radius: 50px;
    border: 2px solid;
    width: 370px;
    height: 50px;
font-weight: bold;

}

.iniciarsesion {
    text-align: center;
    margin-top: 10px;
    border-radius: 50px;
    border: 2px solid;
    width: 370px;
    height: 50px;
    font-weight: bold;
    
}

img{
    width: 100%;
}

button{
    color: black;
}