
.registro {

    text-align: center;
    margin-top: 40px;
    border-radius: 50px;
    border: 2px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 370px;
    height: 30px;
}

.iniciarsesion {
    text-align: center;
    margin-top: 10px;
    border-radius: 50px;
    border: 2px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 370px;
    height: 30px;
}

img{
    width: 100%;
}