<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons defaultHref="home" slot="start" text="atras">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRO <ion-icon name="paw"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Nombres: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Apellidos: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label  position="stacked">Fecha de nacimiento:</ion-label>
          <ion-datetime displayFormat="MM-DD-YYYY" placeholder="MM-DD-YYY"></ion-datetime>
        </ion-item>




      </ion-list>

      <div class="ion-padding">
        <ion-button color="primary" expand="block" type="submit" class="ion-no-margin" routerLink="/login/">Registrarse
        </ion-button>
      </div>
    </form>
  </div>

</ion-content>