<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons defaultHref="home" slot="start" text="atras">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRO <ion-icon name="paw"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
     
        <ion-item>
          <ion-label position="stacked">Usuario: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input name="text"  [(ngModel)] = "user.usuario" required type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input name="email"  [(ngModel)] = "user.email" required type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input name="password"  [(ngModel)] = "user.contrasena" required type="password"></ion-input>
        </ion-item>

      



      </ion-list>
      <p padding *ngIf="errorMsg" class="error-message">{{ errorMsg }}</p>
      <div class="ion-padding">
        <ion-button color="primary" expand="block" type="submit" class="ion-no-margin"(click)="validateRegistro()">Registrarse
        </ion-button>
      </div>
    </form>
  </div>

</ion-content>