<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons defaultHref="home" slot="start" text="atras">
          <ion-back-button></ion-back-button>
          </ion-buttons>
    <ion-title>FORMULARIO <ion-icon name="paw"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <h1>Datos de la mascota</h1>
    <form>

      

      <ion-item>
        <ion-label>Tipo de mascota:</ion-label>
        <ion-select name="seleccion"  [(ngModel)] = "animal.tipo" multiple="false">
          <ion-select-option value="PERROS"> Perro</ion-select-option>
          <ion-select-option value="GATOS"> Gato</ion-select-option>
          <ion-select-option value="OTROS"> Otro</ion-select-option>
        </ion-select>
      </ion-item>
    
      
      <ion-item>
        <ion-label position="stacked">Subir foto: 
        </ion-label>
        <ion-input name="subir"  [(ngModel)] = "animal.imagen" required type="text"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">Nombre: 
        </ion-label>
        <ion-input name="nombre"  [(ngModel)] = "animal.nombre" required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Edad: 
        </ion-label>
        <ion-input name="edad"  [(ngModel)] = "animal.edad" required type="text"></ion-input>
      </ion-item>

    

        <ion-item>
            <ion-label position="stacked">Descripcion:
            </ion-label>
            <ion-textarea name="descripcion"  [(ngModel)] = "animal.descripcion" placeholder="Detalle de la mascota en adopcion"></ion-textarea>
          </ion-item>

          <p padding *ngIf="errorMsg" class="error-message">{{ errorMsg }}</p>
      <div class="ion-padding">
        <ion-button color="primary" expand="block" type="submit" class="ion-no-margin" (click)="validateAnimal()">Subir</ion-button>
      </div>
    </form>


  </div>


</ion-content>